.body {
  text-align: center;
  background-color: black;
  color: aliceblue;
  
}
#head{
  align-items: center;
  
}
#heading{
  align-items: center;
}
#icon{
  display: flex;
  justify-content: center;
 
}
#icon > svg{
  padding: 10px;
}
h6{
  
  width: 170px;
  margin-left: 42%;
  text-align: left;
 
}
h3{
  margin-left:-12%;
}

